.container{
    background-color: green;
    display: flex;
    flex-direction: column;
     padding: 10px;
    text-align: justify;
    

}

.div1{
    background-color: chocolate;
    margin: 5px;
    padding: 10px;
}

.div2{
    background-color: orange;
    margin: 5px;
    padding: 10px;
}
.div3{
    background-color: cyan;
    margin: 5px;
    padding: 10px;
}